[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "biocthis"]
	path = biocthis
	url = https://github.com/lcolladotor/biocthis
[submodule "derfinder"]
	path = derfinder
	url = https://github.com/lcolladotor/derfinder
